<!DOCTYPE html>
<html>
<head>
  <title>Burlesque</title>
  <%= stylesheet_link_tag    "burlesque/application", :media => "all" %>
  <%= javascript_include_tag "burlesque/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
